body{
    margin-left:160px;
    margin-right:300px;
    width:70%;
    font-family:Arial, Helvetica, sans-serif;
    
}
@media screen and (max-width: 800px) {
    body {
      width:100%;
     margin-left:0%;
    }
    }
header{
    position:relative;
    background-color: #FCF42C;
    display:flex;
    color:black;

}
.days{
    position:relative;
    float:left;
    margin-left:10%;
    width:10%;
}
img{
    position:relative;
width: 81px;
height: 87px;
left: 174px;
top: 17px;

background: url(logo.png);
}
.div{
    position:relative;
    background-color:black;
    color:white;
}
.top{ 
    position:relative;
    display:flex;
    background-color:#2D2D2D;
    color:white;
}
.top2{ 
    position:relative;
    background-color:#2D2D2D;
    color:white;
    float:left;
}
.p{
    float:left;
    margin-left:10%;
    width:15%;
    font-size:1.1vw;
}
.pp1{
    float:left;
    margin-left:14%;
    font-size:1.1vw;
}
.pp2{
    float:left;
    margin-left:15%;
    font-size:1.1vw;
}
.p1{
    float:left;
    text-align: center;
    width:10px;
    margin-left:20%;
    line-height:16px;
   font-weight:strong;
    font-size:1.3vw;
}
.p2{
    float:left;
    margin-left:45%;
    text-align: center;
    line-height:16px;
   font-weight:strong;
    font-size:1.3vw;
}
.p3{
    float:left;
    margin-left:40%;
    line-height:30px;
   font-weight:strong;
    font-size:1.4vw;
}
.top1{ 
    position:relative;
    display:flex;
    color:white;
}

   